<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <parameter name="name" value="Angel"/>
<!--    <test name="TestNG">-->
<!--        <classes>-->
<!--            <class name="testng.Day2"/>-->
<!--            <class name="testng.Day1">-->
<!--                <methods>-->
<!--                    <include name="one"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="testng.Day4"/>-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="Login">-->
<!--        <classes>-->
<!--            <class name="testng.Day3">-->
<!--                <methods>-->
<!--                    <exclude name="mobile.*"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
    <test name="AllTests">
        <packages>
            <package name="testng"/>
        </packages>
    </test>
</suite>
